# 파일 이름에서 '학번'을 자신의 학번으로, '이름'을 자신의 이름으로 고치시오.

# 문제1
변수 a에 1을 대입하고, 변수 b에 2을 대입한 후, 변수 c 에 a와 b를 더한 값을 대입하시오.
변수 c의 값을 출력하시오.

***결과***
```
3
```

In [15]:
#O(1)
a, b = 1, 2
c = a + b
print(c)

3

# 문제2
1부터 10까지의 수를 화면에 한 줄씩 출력하시오.

***결과***
```
1
2
3
4
5
6
7
8
9
10
```

In [3]:
# O(1)
print('\n'.join([str(i) for i in range(1,11)]))

1
2
3
4
5
6
7
8
9
10

# 문제3
숫자 두개를 인수로 받아서 합을 리턴하는 함수를 구현하시오.

***결과***
```
7
3
```

In [4]:
#O(1)
my_fun1 = lambda num1, num2 : num1 + num2
## 아래는 수정하지 마시오.
print(my_fun1(3, 4))
print(my_fun1(1, 2))

7
3

# 문제4
숫자 두개를 인수로 받아서 큰 수를 리턴하는 함수를 구현하시오.

***결과***
```
4
2
```

In [5]:
#O(1)
my_fun2 = lambda num1, num2 : max(num1, num2)
## 아래는 수정하지 마시오.
print(my_fun2(4, 3))
print(my_fun2(1, 2))

4
2

# 문제5

구구단 중에서 입력으로 받은 단을 다음과 같이 출력하는 함수를 만드시오..

***결과***
```
3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
```

In [8]:
#O(1)
def my_fun3(n):
    print(f'{n}단')
    for i in range(1,10):
        print(f'{n} * {i} = {n*i}')
    print()
## 아래는 수정하지 마시오.
my_fun3(3)
my_fun3(5)

3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

# 문제6

1부터 n까지의 자연수 중에서 짝수들만 리스트 형태로 리턴하는 함수를 만드시오.

***결과***
```
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14]
```

In [9]:
#O(N)
def my_fun4(n):
    return [ i for i in range(2,n+1,2) ]

## 아래는 수정하지 마시오.
print(my_fun4(20))
print(my_fun4(15))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[2, 4, 6, 8, 10, 12, 14]

# 문제7

```
정수 배열 arr와 2차원 정수 배열 queries이 주어집니다. queries의 원소는 각각 하나의 query를 나타내며, [i, j] 꼴입니다.

각 query마다 순서대로 arr[i]의 값과 arr[j]의 값을 서로 바꿉니다.

위 규칙에 따라 queries를 처리한 이후의 arr를 return 하는 solution 함수를 완성해 주세요.

제한사항
1 ≤ arr의 길이 ≤ 1,000
0 ≤ arr의 원소 ≤ 1,000,000
1 ≤ queries의 길이 ≤ 1,000
0 ≤ i < j < arr의 길이

입출력 예
arr: [0, 1, 2, 3, 4]
queries: [[0, 3],[1, 2],[1, 4]]
result: [3, 4, 1, 0, 2]

```

### 결과
```
[3, 4, 1, 0, 2]
```

In [11]:
#O(N)
def solution(arr, queries):
    for i,j in queries:
        tmp, arr[j] = arr[j], arr[i]
        arr[i] = tmp
    return arr
# 아래는 수정하지 마시오.
print(solution([0, 1, 2, 3, 4], [[0, 3],[1, 2],[1, 4]]))

[3, 4, 1, 0, 2]